body {
    font-family: 'Inter', sans-serif;
    color: #333;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
  .container-section {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .profile-image {
    width: 443px;
    height: 295px;
    border-radius: 50px;
  }
  
  .text-container {
    width: 718px;
    height: 638px;
    position: relative;
  }
  
  .greeting-text {
    color: black;
    font-size: 36px;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .description-text {
    color: black;
    font-size: 24px;
    font-weight: 400;
    word-wrap: break-word;
  }