/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  font-family: "Open Sans", sans-serif;
  /* font-weight: 100; */
}


/*  body {
  font-family: 'Open Sans', sans-serif;
}
*/

body {
  width: 100%;
  margin: auto;
  font-size: 16px; /* Base font size */
  line-height: 1.5; /*line height, adjusted based on accessibility?*/
  color: #131516; 
}



header {
  position: relative;
  margin: 16px;
  padding: 16px;
  background: #ffffff;
  box-sizing: border-box;
}


h1 {
  font-optical-sizing: auto;
  font-size: 2rem; /* Adjusted for better readability */
  font-weight: 600;
  color: #000000;
  font-style: normal;
}

h2 {
  font-size: 1.5rem; /* Adjusted for better readability */
  font-weight: 600;
  color: #17191A;
}

h3 {
  font-size: 1.25rem; /* Adjusted for better readability */
  font-weight: 500;
  color: #17191A;
}

h4 {
  font-size: 1.5rem; /* Adjusted for better readability */
  margin-top: 10px;
  color: #5E5C5C;
}

h5 {
  font-size: 0.875rem; /* Adjusted for better readability */
  margin-top: 10px;
  color: #17191A;
}

p {
  color: #4e4e4e;
  font-weight: 400;
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #317bbc;
}

a:hover {
  text-decoration: none;
  color: #317bbc;
}

.highlight {
  color: #317bbc; /* Change this color to whatever you like */
}


/* Header and Navigation*/
header {
  background-color: #ffffff;
  padding: 20px;
   /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.nav-container {
  display: flex;
  justify-content: space-between; /* Distribute space between items */
  align-items: center;
}

.nav-left {
 
  flex: 1; 

}


.nav-links {
  list-style: none;
  display: flex;
}

.nav-link {
  margin: 0 15px;
}

.nav-link a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-link a:hover {
  color: #317bbc;
}


/* Responsive menu styles */
.menu-toggle {
  display: none;
  cursor: pointer;
  order: 2;
}

.menu-toggle .fa {
  font-size: 24px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  
  .menu-toggle .fa-bars {
    display: block;
  }
  
  .menu-toggle.active .fa-bars {
    display: none;
  }
  
  .menu-toggle .fa-times {
    display: none;
  }
  
  .menu-toggle.active .fa-times {
    display: block;
  }
  
  .nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  
  .nav-links.active {
    display: flex;
  }
  
  .nav-link {
    margin: 10px 0;
  }
  
  header {
    width: 100%;
    padding: 10px;
  }
}



/* footer */

footer{
  margin: 100px 0;
  text-align: center;
}

footer p{
 margin-bottom: 20px;
}

/* symbol */
.material-symbols-outlined {
  vertical-align: middle;
  font: size 12px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 0,
  'GRAD' 0,
  'opsz' 24
}
