.photo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* padding: 10px; */
    /* border-radius: 4px; */
 }
 
 .description{
   text-align: left;
   width:100%;
 }
 
 
 .description a:hover {
   text-decoration: underline;;
   color: #6cb1f1;
 }
 
 .description p{
   width:100%;
   color: #696666;
   line-height: 1.5;
   margin-bottom: 1.2em ;
   font-size: 16px;
 }
 
 .description h1{
   font-size: 30px;
   width:100%;
   color: black;
 }
 
 .description h5{
   width:100%;
 }
 
 .detail {
   width:60%;  /* to adjust the content width ratio to the screen */
   align-items: center;
   margin: 30px auto 0 auto;
   line-height: 1.5;
 }

 
 .detail h1{
   font-weight: 600;
 }



 .detail h2{
   color:#0378AD;

 }


 
 @media screen and (max-width: 991px){
   .detail{
     width: 85%;
   }
 }